In [8]:
l= list (map(int,input().split(" ")))[:2]
print(l)
m=[2]

2 3 4
[2, 3]

In [ ]:
# l.reverse()
print(l)
print(l.count(1))

l.append(4)
print(l)
l.extend(m)
print(l)

print(len(l))
l.remove(2)
print(l)
l.sort()
print(l)
l.pop(1)

print(l)
l.clear()
print(l)
l.insert(1,5)
print(l)
l.insert(0,2)
l.index(2)

In [8]:
n=int(input())
total=0
num=n*n
while(num!=0):
    num1=num%10
    num=num//10
    
    total=total+num1
    


if(n==total):
    print('it is a neon number')
else:
    print("it is not a neon number")

45
it is not a neon number

In [15]:
prod=1
l=list(map(int,input().split()))
sum(l)
for i in l:
        prod=prod*i
if(prod<750):
    print("product is less than 750", end=".product is: ")
    print( prod)
else:
    print(sum(l))

4 5 6 7
22

In [31]:
x = lambda a, b : print( a if a>b  else b )
                 
x(3,4)

4

In [6]:
l=["surya","sk"]
n3={n3:i for n3 in "SURYA" for i in l if ord(n3)>=65 and ord(n3)<=90  }
print(n3)

{'S': 'sk', 'U': 'sk', 'R': 'sk', 'Y': 'sk', 'A': 'sk'}

In [69]:
l=[1, 2 ,3]
n=[n for n in l if n%2!=0 ]
print(n)

[1, 3]

In [94]:
s={1,2,3}
s2={3,2,}
s.add(4)
print(s.issuperset(s2))
print(s|s2)
print(s^s2)
print(s)
print()

False
{1, 2, 3, 4, 6}
{1, 4, 6}
{1, 2, 3, 4}

# DICTIONARY CONTAINS ELEMENTS WITHOUT TWO UNITS KEYS AND VALUES

In [2]:
 k=[4 ,5 ,6]
d={
        "k":1,
        "m":2,
        "l":[1,2,3,4]
    }
print(d.values()) 
type(d)
d.fromkeys('m',6)
print(d.values())

dict_values([1, 2, [1, 2, 3, 4]])
dict_values([1, 2, [1, 2, 3, 4]])

In [ ]:
l=[1,2,3]
str1=input()
d={
    
}
for i in l:
    
    d.fromkeys(str1,l[i])

In [10]:
print(ord("a"))

97